FACTOR_PONDERACION = 3
FRECUENCIA_TITULOS = 1
STOPWORDS_FILES = ["../stopwords/SmartStoplist.txt","../stopwords/stopword1.txt","../stopwords/stopword2.txt","../stopwords/stopword3.txt"]
IGNORED_WORDS_FILE = "../stopwords/ignored_words.txt"
THRESHOLD = 3
SVD_ANALYSIS = True
ALLOWED_SECTIONS = {"Society","Business","World news","Politics"}
IGNORED_SECTIONS = {"Music","Opinion","Sport","Film","From the Guardian","Footbal","Stage"}
IGNORED_COEFFICIENTS = 15
NRO_OF_CLUSTERS = 3
SAVE_ARFF = False
WITH_DATE = True
SELECTED_COUNTRY = france
IGNORE_LOCATION_WITH_SPACES = True
LAST_THRESHOLD_EXECUTED = 3
