FACTOR_PONDERACION = 5
FRECUENCIA_TITULOS = 10
STOPWORDS_FILES = ["../stopwords/SmartStoplist.txt","../stopwords/stopword1.txt","../stopwords/stopword2.txt","../stopwords/stopword3.txt"]
IGNORED_WORDS_FILE = "../stopwords/ignored_words.txt"
THRESHOLD = 3
SVD_ANALYSIS = 1
ALLOWED_SECTIONS = {"Society","Business","World news","Politics"}
IGNORED_SECTIONS = {"Music","Opinion","Sport","Film","From the Guardian","Footbal","Stage"}
IGNORED_COEFFICIENTS = 20